<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../public/login.css"/>
</head>

<body>
<div id="login_frame">

<p><label class="label_title">Bienvenue ToDoList</label> </p>

    <form method="post" action="login.js">

        <p><label class="label_input">username</label><input type="text" id="username" class="text_field"/></p>
        <p><label class="label_input">passeword</label><input type="text" id="password" class="text_field"/></p>

        <div id="login_control">
            <input type="button" id="btn_login" value="se connecter" />
            <input type="button" id="btn_inscrir" value="s'inscrire" />

        </div>
        <div><a id="forget_pwd" href="">forget?</a></div>

    </form>
</div>

</body>
</html>
 
