
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/register.css"/>
</head>

<body>
<div id="login_frame">

	<div class="reg-container">
		<div class="reg-register-box">
			<p><label class="label_title">Register</label> </p>
				<form method="post" action="/user/create">

					
						<p><label class="label_input">email</label><input type="email" id="email" class="text_field"/></p>
						<p><label class="label_input">username</label><input type="text" id="username" class="text_field"/></p>
						<p><label class="label_input">firstname</label><input type="text" id="firstname" class="text_field"/></p>
						<p><label class="label_input">lastname</label><input type="text" id="lastname" class="text_field"/></p>
						<p><label class="label_input">password</label><input type="text" id="password" class="text_field"/></p>
						<p><label class="label_input">confirm password</label><input type="text" id="confirmpassword" class="text_field"/></p>
						<!-- <div id="login_control"> -->
							
						<input type="submit" value="Submit"/>
				
						<!-- </div> -->
					</form>
		</div>
	</div>
</div>
</body>
</html>

